.HomeLink{
    text-decoration: none;
    color:#879D97;
    font-size: 25px;
}
.HomeLink1{
    text-decoration: none;
    color:#879D97;
    
}
.HomeLink2{
    text-decoration: none;
    color:#879D97;
    
}
